
<html>
<head>
    <title>Django blog</title>
</head>
<body>
  <div>
    <h1><strong>My first Blog!</strong></h1>
    <p>Hi there!</p>
    <p>It works!</p>
  </div>
  <div>
    <h1><strong>About me</strong></h1>
    <p>My name is <em>Sapir</em></br></p>
    <h2>My facebook page:</br> <a href="https://www.facebook.com/sapir.bar.399?ref=bookmarks"><b>Facebook</b></a></h2>
  </div>

  {% for post in posts %}
      <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}

</body>
</html>
